{% extends 'base.html.twig' %}

{% block title %}Список клиентов{% endblock %}

{% block page_title %}Список клиентов{% endblock %}

{% block page_content %}
    <table id="customersTable" class="display table table-bordered nowrap stripe row-border order-column table-striped" style="width:100%"></table>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/lib/DataTables-1.10.21/css/dataTables.bootstrap.css') }}">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/lib/jQuery-3.3.1/jquery-3.3.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/lib/DataTables-1.10.21/datatables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/lib/DataTables-1.10.21/js/dataTables.bootstrap.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#customersTable').DataTable({
                searching: false,
                ordering: false,
                serverSide: true,
                ajax: {
                    url: '{{ path('ajax_customers') }}'
                },
                columns: [
                    {
                        data: "fio",
                        title: "ФИО",
                        fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<a href='/customer/show/"+oData.id+"' target='_blank'>" + oData.fio + "</a>");
                        }
                    },
                    {
                        data: "phone",
                        title: "Телефон"
                    },
                    {
                        data: "discount",
                        title: "Скидка"
                    },
                    {
                        data: "lastOrderDate",
                        title: "Дата последнего заказа"
                    },
                    {
                        data: "lastOrderId",
                        title: "Номер последнего заказа",
                        fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                            if (oData.lastOrderId !== null) {
                                $(nTd).html("<a href='/order/show/" + oData.lastOrderId + "' target='_blank'>" + oData.lastOrderId + "</a>");
                            }
                        }
                    }
                ]
            });
        })
    </script>
{% endblock %}